.test{
    border: 1px solid black;
    width: 200px;
    margin: auto;
    word-spacing: 10px;
    line-height: 50px;
    word-wrap: break-word;
    /* white-space: pre; */
    text-shadow: 5px 10px 5px violet;
    /* writing-mode: vertical-lr; */


}
.myP{
    background-color: aqua;
    border: 1px solid black;
    resize: both;
    overflow: auto;
}